*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.calc {
    border-radius: 28px;
    padding: 16px;
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(4,66px);
    box-shadow: inset 6px 6px 13px black;

}
input{
    grid-column: span 4;
    height: 68px;
    width: 258px;
    background-color: azure;
   
    border-radius: 25px;
    color: gray;
    text-align: end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;

}
button {
    background-color: black;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    margin: 10px;
    color: rgb(240, 245, 249);
    font-size: 20px;
    font-weight: bold;
    
}
.equal  {
    width: 120px;
    border-radius: 42px;
    color: rgb(49, 173, 49) ;
}